In [31]:
import pandas
import numpy
import matplotlib.pyplot as plt
import os

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_()) if isinstance(a, pandas.DataFrame)
                         else self.template.format(a,  pandas.DataFrame(eval(a))._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [47]:
df = pandas.read_pickle('/home/johnny/Documents/performance_metrics_3-6/hog_result_df.pkl')

In [48]:
df.head()

,label,parsed_text,found_contour_area,ref_contour_area,source_image_location,image_has_plaque,plaque_found,text_matched,text_missed,text_misread,pose_info
0,[208],[],47.5,None,/home/johnny/Documents/real_world_images/POSIT...,True,True,[],[208],[],0.09439
1,[208],[],34,None,/home/johnny/Documents/real_world_images/POSIT...,True,True,[],[208],[],0.09439
2,[208],[],208,None,/home/johnny/Documents/real_world_images/POSIT...,True,True,[],[208],[],0.09439
3,[208],[],1075.5,None,/home/johnny/Documents/real_world_images/POSIT...,True,True,[],[208],[],0.09439
4,[208],[],67.5,None,/home/johnny/Documents/real_world_images/POSIT...,True,True,[],[208],[],0.09439

In [49]:
df['pose_info'] = df['source_image_location'].apply(lambda x: float(os.path.split(x)[1].split('-')[0].replace('DSC', '0.')))
df.head()
# lets drop some unused columns
df = df.drop(columns=['ref_contour_area','source_image_location','image_has_plaque'])
df.head()
# d2 = pandas.concat([df['pose_info'], df['label']], axis=1)
# d2.head()
# index = pandas.MultiIndex.from_frame(d2)
# index
# df = df.reindex(index)
# df
# df.set_index('pose_info')
# here i am using the name of the photograph as the 'pose' information. Since the images
# were taken sequentially, the proximity of these numbers is sometimes meaninful.
# at the very least I can see how well the pipeline does on a marked image

,label,parsed_text,found_contour_area,plaque_found,text_matched,text_missed,text_misread,pose_info
0,[208],[],47.5,True,[],[208],[],0.09439
1,[208],[],34,True,[],[208],[],0.09439
2,[208],[],208,True,[],[208],[],0.09439
3,[208],[],1075.5,True,[],[208],[],0.09439
4,[208],[],67.5,True,[],[208],[],0.09439

In [50]:
# summing gives me a list of the found words per pose (image) for those which have multiple discoveried int he images
display("df.groupby('pose_info')['parsed_text'].sum()", "df.groupby('pose_info').sum()")

df.groupby('pose_info')['parsed_text'].sum()
pose_info
0.09374                                           []
0.09375                            [105, reetey, —t]
0.09393            [sut, errargency, iat, pas), 109]
0.09395           [emergency, exit, stalt, tet, 109]
0.09396               [exit, cert, rit, ra aan, ais]
0.09397                 [ist, el, sr dad, only, 109]
0.09404                                           []
0.09406    [pte ta, era, ea, rel, peres os, rh, ion]
0.09407                                       [tori]
0.09408                                     [of, oe]
0.09415                     [207, pots, warfiiemien]
0.09417                               [pewee oy, 8)]
0.09418                              [pera tend, @)]
0.09419                               [mi todd, 207]
0.09427                                        [710]
0.09428                                     [210, _]
0.09430                                        [208]
0.09437                       [pe ee, ares, 208, ck]
0.09438                [lorena |, bare era, ry, 208]
0.09439                                           []
0.09441                                 [205, oa re]
0.09449                               [pat he’, ope]
0.09451                                        [men]
0.09452                                        [ala]
0.09460                                      [women]
0.09638              [biology, scholars, program, )]
0.09746                                           []
Name: parsed_text, dtype: object

df.groupby('pose_info').sum()
                                                       label  \
pose_info
0.09374                                                [105]
0.09375                                                [105]
0.09393                                                [109]
0.09395    [109, 109, 109, 109, 109, 109, 109, 109, 109, ...
0.09396             [109, 109, 109, 109, 109, 109, 109, 109]
0.09397                                                [109]
0.09404    [111, 111, 111, 111, 111, 111, 111, 111, 111, ...
0.09406             [111, 111, 111, 111, 111, 111, 111, 111]
0.09407                                                [107]
0.09408                                                [107]
0.09415                                 [207, 207, 207, 207]
0.09417                                 [207, 207, 207, 207]
0.09418                                 [207, 207, 207, 207]
0.09419                                                [207]
0.09427                                                [210]
0.09428                                           [210, 210]
0.09430                                                [208]
0.09437                            [208, 208, 208, 208, 208]
0.09438                                                [208]
0.09439                            [208, 208, 208, 208, 208]
0.09441                                                [205]
0.09449                                                [205]
0.09451                                                [men]
0.09452                                                [men]
0.09460                                              [women]
0.09638                                      [2075, biology]
0.09746                            [180, presentation, room]

                                         parsed_text  found_contour_area  \
pose_info
0.09374                                           []                28.0
0.09375                            [105, reetey, —t]             18595.5
0.09393            [sut, errargency, iat, pas), 109]             22327.0
0.09395           [emergency, exit, stalt, tet, 109]               743.5
0.09396               [exit, cert, rit, ra aan, ais]              1854.5
0.09397                 [ist, el, sr dad, only, 109]             38283.0
0.09404                                           []               503.5
0.09406    [pte ta, era, ea, rel, peres os, rh, ion]               311.5
0.09407                                       [tori]              7255.5
0.09408                                     [of, oe]              8443.0
0.09415                     [207, pots, warfiiemien]               432.5
0.09417                               [pewee oy, 8)]               691.0
0.09418                              [pera tend, @)]               580.5
0.09419                               [mi todd, 207]             21830.0
0.09427                                        [710]             16670.5
0.09428                                     [210, _]             17650.5
0.09430                                        [208]             10466.0
0.09437                       [pe ee, ares, 208, ck]              2159.0
0.09438                [lorena |, bare era, ry, 208]             35017.0
0.09439                                           []              1432.5
0.09441                                 [205, oa re]              8029.5
0.09449                               [pat he’, ope]              9367.5
0.09451                                        [men]             16929.5
0.09452                                        [ala]             16556.5
0.09460                                      [women]             45014.0
0.09638              [biology, scholars, program, )]             30390.5
0.09746                                           []             15542.0

          plaque_found text_matched  \
pose_info
0.09374           True           []
0.09375           True        [105]
0.09393           True        [109]
0.09395             10        [109]
0.09396              8           []
0.09397           True        [109]
0.09404             10           []
0.09406              8           []
0.09407           True           []
0.09408           True           []
0.09415              4        [207]
0.09417              4           []
0.09418              4           []
0.09419           True        [207]
0.09427           True           []
0.09428              2        [210]
0.09430           True        [208]
0.09437              5        [208]
0.09438           True        [208]
0.09439              5           []
0.09441           True        [205]
0.09449           True           []
0.09451           True        [men]
0.09452           True           []
0.09460           True      [women]
0.09638           True    [biology]
0.09746           True           []

                                                 text_missed  \
pose_info
0.09374                                                [105]
0.09375                                                   []
0.09393                                                   []
0.09395        [109, 109, 109, 109, 109, 109, 109, 109, 109]
0.09396             [109, 109, 109, 109, 109, 109, 109, 109]
0.09397                                                   []
0.09404    [111, 111, 111, 111, 111, 111, 111, 111, 111, ...
0.09406             [111, 111, 111, 111, 111, 111, 111, 111]
0.09407                                                [107]
0.09408                                                [107]
0.09415                                      [207, 207, 207]
0.09417                                 [207, 207, 207, 207]
0.09418                                 [207, 207, 207, 207]
0.09419                                                   []
0.09427                                                [210]
0.09428                                                [210]
0.09430                                                   []
0.09437                                 [208, 208, 208, 208]
0.09438                                                   []
0.09439                            [208, 208, 208, 208, 208]
0.09441                                                   []
0.09449                                                [205]
0.09451                                                   []
0.09452                                                [men]
0.09460                                                   []
0.09638                                               [2075]
0.09746                            [180, presentation, room]

                                        text_misread
pose_info
0.09374                                           []
0.09375                                 [reetey, —t]
0.09393                 [pas), errargency, sut, iat]
0.09395                [stalt, emergency, tet, exit]
0.09396               [ra aan, exit, cert, rit, ais]
0.09397                      [ist, el, sr dad, only]
0.09404                                           []
0.09406    [ion, era, ea, peres os, rh, pte ta, rel]
0.09407                                       [tori]
0.09408                                     [of, oe]
0.09415                          [pots, warfiiemien]
0.09417                               [pewee oy, 8)]
0.09418                              [@), pera tend]
0.09419                                    [mi todd]
0.09427                                        [710]
0.09428                                          [_]
0.09430                                           []
0.09437                            [ares, pe ee, ck]
0.09438                     [lorena |, bare era, ry]
0.09439                                           []
0.09441                                      [oa re]
0.09449                               [ope, pat he’]
0.09451                                           []
0.09452                                        [ala]
0.09460                                           []
0.09638                       [scholars, ), program]
0.09746                                           []

In [84]:
# lets explode the labels and make it so that we can make a lsit of the pose info
blown_labels = df.explode('label')[['pose_info','label', 'parsed_text', 'text_missed']]
blown_labels['pose_info'] = blown_labels['pose_info'].apply(lambda x: [str(x)])
per_label = blown_labels.groupby('label').sum()
display("per_label")

,pose_info,parsed_text,text_missed
label,,,
105,"[0.09375, 0.09374]","[105, reetey, —t]",[105]
107,"[0.09407, 0.09408]","[tori, of, oe]","[107, 107]"
109,"[0.09397, 0.09396, 0.09396, 0.09396, 0.09396, ...","[ist, el, sr dad, only, 109, exit, cert, rit, ...","[109, 109, 109, 109, 109, 109, 109, 109, 109, ..."
111,"[0.09404, 0.09404, 0.09404, 0.09404, 0.09404, ...","[pte ta, era, ea, rel, peres os, rh, ion]","[111, 111, 111, 111, 111, 111, 111, 111, 111, ..."
180,[0.09746],[],"[180, presentation, room]"
205,"[0.09441, 0.09449]","[205, oa re, pat he’, ope]",[205]
207,"[0.09417, 0.09417, 0.09417, 0.09417, 0.09419, ...","[pewee oy, 8), mi todd, 207, pera tend, @), 20...","[207, 207, 207, 207, 207, 207, 207, 207, 207, ..."
2075,[0.09638],"[biology, scholars, program, )]",[2075]
208,"[0.09439, 0.09439, 0.09439, 0.09439, 0.09439, ...","[lorena |, bare era, ry, 208, 208, pe ee, ares...","[208, 208, 208, 208, 208, 208, 208, 208, 208]"
210,"[0.09428, 0.09428, 0.09427]","[210, _, 710]","[210, 210]"
biology,[0.09638],"[biology, scholars, program, )]",[2075]
men,"[0.09452, 0.09451]","[ala, men]",[men]
presentation,[0.09746],[],"[180, presentation, room]"
room,[0.09746],[],"[180, presentation, room]"
women,[0.0946],[women],[]

In [109]:
pl = per_label.copy()
pl['num_runs'] = pl['pose_info'].apply(lambda x: len(x))
# could come back and add another column to keep the 
# number of total runs to compare to the hits
pl['pose_info'] = pl['pose_info'].apply(lambda x: set(x))
pl['text_missed'] = pl['text_missed'].apply(lambda x: set(x))
# need to reset the index to numbers since i want to look at the labels
pl = pl.reset_index()
# pl['hits'] = pl['label'] in pl['parsed_text'] doesnt work
# https://stackoverflow.com/a/35616467
pl['hits'] = [list(set(a).intersection(set(b))) for a, b in zip(df.label, df.parsed_text)]
display(" pl")

ValueError: Length of values does not match length of index

Exploding the following fields turns them all into strings, which when I group by and sum, gives me _gobbledygook_!

In [11]:
df2 = df.explode('parsed_text')
df2 = df2.explode('text_matched')
df2 = df2.explode('label')
# now each matched text will have a row
df2['parsed_text'] = df['parsed_text'].apply(lambda x: '' if not isinstance(x, str) else x)
df2['text_matched'] = df['text_matched'].apply(lambda x: '' if not isinstance(x, str) else x)
# now it will all be the same dtype
df2.groupby('pose_info')['parsed_text'].sum()

pose_info
0.09374
0.09375                                       105reetey—t
0.09393                           suterrargencyiatpas)109
0.09395                          emergencyexitstalttet109
0.09396                              exitcertritra aanais
0.09397                                istelsr dadonly109
0.09404
0.09406                       pte taeraearelperes osrhion
0.09407                                              tori
0.09408                                              ofoe
0.09415                              207pots, warfiiemien
0.09417                                        pewee oy8)
0.09418                                       pera tend@)
0.09419                                        mi todd207
0.09427                                               710
0.09428                                              210_
0.09430                                               208
0.09437                                    pe eeares208ck
0.09438                             lorena |bare erary208
0.09439
0.09441                                          205oa re
0.09449                                        pat he’ope
0.09451                                               men
0.09452                                               ala
0.09460                                             women
0.09638    biologybiologyscholarsscholarsprogramprogram))
0.09746
Name: parsed_text, dtype: object

In [6]:
text_found = df[df['parsed_text'] != '']
text_found.shape
text_found['pose_info'].unique()

array([0.09441, 0.09417, 0.09397, 0.09428, 0.09375, 0.09452, 0.09407,
       0.09419, 0.09396, 0.09449, 0.0946 , 0.09418, 0.09427, 0.09415,
       0.09408, 0.09406, 0.09438, 0.09451, 0.09638, 0.09395, 0.09393,
       0.0943 , 0.09437])

In [7]:
df.loc[df['pose_info'] == 0.09438, ['parsed_text','text_matched', 'text_missed', 'text_misread']]

   parsed_text text_matched text_missed              text_misread
56    lorena |          208          []  [lorena |, bare era, ry]
56    bare era          208          []  [lorena |, bare era, ry]
56          ry          208          []  [lorena |, bare era, ry]
56         208          208          []  [lorena |, bare era, ry]

In [8]:
matches = df[df['parsed_text'] == df['label']]
found_rows = df[df[df['image_has_plaque']]['plaque_found']]
print(f"found {found_rows.shape} out of all {df.shape}")
# print(f"total unique images: {len(df['pose_info'].unique())}\nwe found: {len(matches['pose_info'].unique())}")

found (124, 11) out of all (124, 11)

In [11]:
d2 = pandas.concat([df['pose_info'], df['label']], axis=1)

index = pandas.MultiIndex.from_frame(d2)
index

MultiIndex([(0.09439, '208'),
            (0.09439, '208'),
            (0.09439, '208'),
            (0.09439, '208'),
            (0.09439, '208'),
            (0.09441, '205'),
            (0.09441, '205'),
            (0.09417, '207'),
            (0.09417, '207'),
            (0.09417, '207'),
            ...
            (0.09393, '109'),
            ( 0.0943, '208'),
            (0.09437, '208'),
            (0.09437, '208'),
            (0.09437, '208'),
            (0.09437, '208'),
            (0.09437, '208'),
            (0.09437, '208'),
            (0.09437, '208'),
            (0.09437, '208')],
           names=['pose_info', 'label'], length=124)

In [1]:
df.head

NameError: name 'df' is not defined